<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-fixed-top blueBackground">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("MSP", "Index", "Home", new { @class = "navbar-brand whiteText" })
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle whiteText" data-toggle="dropdown" href="#">Modules <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile Search</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </li>
                <li class="whiteText">
                    @Html.ActionLink("Home", "Index", new { @class = "whiteText" })
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Students Progress</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
